.heros{
    // background-image: url('images/ustadz.png');
    background-color: #0F1837;
    background-position: center;
    .sk-qouts{
        width: 50%;
        // background-color: #fff;
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 91px;
            color: #FFFFFF;
        }
        small{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #9094A2;
        }
        .sk-card{
            background-color: #fff;
            gap: 10px;
            .btn-regist{
                width: 170px;
                height: 70px;
                background: #2666CF;
                border-radius: 4px;

                font-family: Poppins,Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 70px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
            }

        }
    }
    .sk-img-heros{
        width: 50%;
        img{
            background-position: center;
            object-fit: contain;
            width: 100%;
        }
        // background-color: #9094A2;
    }
}
.bg-heros{
    background-color: #0F1837;
}

.promo{
    background-color: #E7E5F9;
    padding: 40px 20px;
    .img-heros{
        clip-path: inset(5% 2% 15% 10% round 5% 5% 5% 5%);
        background-position: center;
    }
    .contain-text{
        h3{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            color: #0F1837;
            margin-left: 40px;
            margin-bottom: 12px;
        }
        ul{
            list-style: none;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                p{
                    font-family: Poppins,Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: justify;
                    color: #0F1837;
                }
            }
        }
        
    }
}

.paket{
    padding: 40px 20px;
    .button-51 {
        background-color: transparent;
        width: 350px;
        border: 1px solid #266DB6;
        border-radius: 10px;
        box-sizing: border-box;
        color: #00132C;
        font-family: "Avenir Next LT W01 Bold",sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        padding: 16px 23px;
        position: relative;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
            outline: 0;
            background-color: transparent;
            cursor: pointer;
            &:before {
                background-color: #6DCFF6;
            }
        }
        &:active {
            outline: 0;
        }
        &:before {
            // background-color: #D5EDF6;
            background-color: #F6F5FB;
            
            content: "";
            height: calc(100% + 3px);
            position: absolute;
            border-radius: 10px;
            right: -7px;
            top: 9px;
            transition: background-color 300ms ease-in;
            width: 100%;
            z-index: -1;
        }
        h3{
            text-align: center;
        }
        h2{
            text-align: center;
        }

        ul{
            list-style: none;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                gap: 5px;
                p{
                    padding-top: 15px;
                    font-family: Poppins,Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: left;
                    color: #0F1837;
                }
            }
        }

        .btn-starter{
            width: 243.31px;
            height: 48.38px;
            border: 2px solid #112340;
            border-radius: 10px;
            background-color: #2666CF;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
    @media (min-width: 768px) {
        .button-51 {
            padding: 16px 32px;
        }
    }
    
}
.soon{
    padding: 10px 10px;
    h3{
        font-family: Poppins,Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #333237;
    }
    .sk-card{
        width: 392px;
        .img-product{
            clip-path: inset(3% 0 5% 0% round 5% 5% 5% 5%);
            background-position: center;
        }
        h3{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #333237;
        }
    }
}
.sk-footer{
    height: 481px;
    background: #1C1D1F;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    gap: 30px;
    justify-content: center;
    .bact1{
        
        h4{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size * 1.3;
            line-height: 30px;
            color: #ffff;
        }
        .contain-icon{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .sk-copy-right{
            p{
                font-family: Poppins,Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;

            }
        }
    }
    .bact2{
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    .bact3{
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    .bact4{
        h5{
            font-family: Poppins,Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
}